<div class="border-end bg-white" id="sidebar-wrapper">
  <div class="sidebar-heading border-bottom bg-light">Smartie Pants</div>
  <div class="list-group list-group-flush">
    <a
      class="list-group-item list-group-item-action list-group-item-light p-3"
      routerLink="/waterfalls"
    >
      Waterfalls
    </a>
    <a
      class="list-group-item list-group-item-action list-group-item-light p-3"
      routerLink="/instances"
    >
      Instances
    </a>
    <a
      class="list-group-item list-group-item-action list-group-item-light p-3"
      routerLink="/addInstances"
    >
      Add Instances
    </a>
    <a
      class="list-group-item list-group-item-action list-group-item-light p-3"
      routerLink="/highestRevenue"
    >
      Highest revenue Waterfall
    </a>
  </div>
</div>
